<!-- Slider -->
<section class="slider1 cid-siqd1vgpg1" id="slider1-m">
    <div class="carousel slide" id="sitX3pRWR1" data-interval="5000">
        <ol class="carousel-indicators">
            <li data-slide-to="0" class="active" data-target="#sitX3pRWR1"></li>
            <li data-slide-to="1" data-target="#sitX3pRWR1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item slider-image item active">
                <div class="item-wrapper">
                    <img class="d-block w-100" src="assets/images/imageedit-11-7320291979-1275x850.jpg" alt="">
                    <div class="carousel-caption">
                        <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                            <strong>Our products</strong></h5>
                        <p class="mbr-section-text mbr-fonts-style display-7">We offer you the best products at unbeatable prices.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item slider-image item">
                <div class="item-wrapper">
                    <img class="d-block w-100" src="assets/images/imageedit-9-7934365332-1275x849.jpg">
                    <div class="carousel-caption">
                        <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                            <strong>Covid-19</strong></h5>
                        <p class="mbr-section-text mbr-fonts-style display-7">During this difficult period, take advantage of free delivery for orders over $50.</p>
                    </div>
                </div>
            </div>

        </div>
        <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#sitX3pRWR1">
            <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#sitX3pRWR1">
            <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials2 cid-sipL8pIGWl" id="testimonials2-l">
    <div class="container">
        <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
            <strong>Testimonials</strong>
        </h3>
        <div class="row justify-content-center">
            <div class="card col-12 col-md-6">
                <p class="mbr-text mbr-fonts-style mb-4 display-7">"Good quality, cheap, arrived quickly. Very happy
                    of my new smartphone! Thanks Deare."<br></p>
                <div class="d-flex mb-md-0 mb-4">
                    <div class="image-wrapper">
                        <img src="assets/images/team1.jpg" alt="Mobirise">
                    </div>
                    <div class="text-wrapper">
                        <p class="name mbr-fonts-style mb-1 display-4">
                            <strong>Martin Smith</strong>
                        </p>
                        <p class="position mbr-fonts-style display-4">⭐⭐⭐⭐⭐</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <p class="mbr-text mbr-fonts-style mb-4 display-7">"The customer service answered really quickly and
                    solved a problem I had with my computer, thank you!"<br></p>
                <div class="d-flex mb-md-0 mb-4">
                    <div class="image-wrapper">
                        <img src="assets/images/team2.jpg" alt="Mobirise">
                    </div>
                    <div class="text-wrapper">
                        <p class="name mbr-fonts-style mb-1 display-4">
                            <strong>Jessica Brown</strong>
                        </p>
                        <p class="position mbr-fonts-style display-4">⭐⭐⭐⭐⭐</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>