<div *ngIf="!(user|async)">
  <a routerLink="/produits">Liste produits</a>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <a routerLink="/categories">Liste catégories</a>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <a routerLink="/connexion">Se connecter</a>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <a routerLink="/Inscription">S'inscrire</a>
</div>


<div *ngIf="(user|async)">
  <a routerLink="/produits">Liste produits</a>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <a routerLink="/categories">Liste catégories</a>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <div *ngIf="!(admin|async)">
    <a routerLink="/panier">Mon panier</a>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
  </div>
  <div *ngIf="(admin|async)">
    <a routerLink="/addProduct">Ajouter un produit</a>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
  </div>
  <a (click)="AuthService.disconnect()">Se Déconnecter de {{user|async}}</a>
</div>

